<section class="details">

    <div class="movie-card__details">
        <li class="movie-card__details__poster" style="background-image: url({{data.Poster}});"></li>

        <div class="movie-card__details__info">
            <h2>{{data.Title}}</h2>
            <p><em>{{data.Plot}}</em></p>
            <p>Starring: {{data.Actors}}</p>
            <p>Director: {{data.Director}}</p>
            <p>Year: {{data.Year}}</p>
            <p>Genre: {{data.Genre}}</p>
            <p>Rated: {{data.Rated}}</p>
            {{#each data.Ratings}}
            <p>{{this.Source}}: {{this.Value}}</p>
            {{/each}}
            <div class="movie-card__details__btns">
                <form action="/" method="GET">
                    <button class="btn" type="submit">Back</button>
                </form>
                {{#if user}}
                <form action="/movies/{{data.imdbID}}" method="POST">
                    <button class="btn" type="submit">Add</button>
                </form>
                {{/if}}
            </div>
        </div>
    </div>

</section>