<section class="now-showing">
    
    <div class="now-showing__wrapper">

        <div class="now-showing__profile">

            <div class="now-showing__profile-info">

                <h2>{{user.userName}}</h2>
                <p>Favorite Movie: {{user.favoriteMovie}}</p>
                <p>Favorite Genre: {{user.favoriteGenre}}</p>
                <form action="/users/logout" method="POST">
                    <button class="btn u-color-primary" type="submit">Logout</button>
                </form>

            </div>

        </div>

        <div class="now-showing__movies">
        
            {{#each movies}}
                <div>

                    <div class="movie-card">
                        <h3 class="heading-card u-text-center u-padding-bottom">{{this.Title}}</h3>
                        <a href="/movies/{{this._id}}">
                            <li class="movie-card__poster" style="background-image: url({{this.Poster}});">
                                <h3 class="movie-card__link">Details</h3>
                            </li>
                        </a>
                    </div>

                </div>
                
            {{/each}}
        
        </div>

    </div>
</section>