<section class="now-showing">
    
    <div class="now-showing__wrapper">
        <button id="hamburger" class="hamburger hamburger--arrow" type="button">
            <span class="hamburger-box">
                <span class="hamburger-inner"></span>
            </span>
        </button>
        <div id="profile" class="now-showing__profile">

            <div class="now-showing__profile-info">
                <h2>{{user.userName}}</h2>
                <p>Favorite Movie: {{user.favoriteMovie}}</p>
                <p id="editFavMovie" class="btn-link btn-link--p">Edit</p>

                <form id="favMovie" style="opacity: 0;" action="/users/me" method="POST">
                    <select class="input" name="favoriteMovie" onchange="this.form.submit()">
                        <option value="" selected disabled>Movies</option>
                        {{#each movies}}
                            <option value="{{this.Title}}">{{this.Title}}</option>
                        {{/each}}
                    </select>
                </form>
                
                <p>Favorite Genre: {{user.favoriteGenre}}</p>
                <p id="editFavGenre" class="btn-link btn-link--p">Edit</p>
                <form id="favGenre" style="opacity: 0;" action="/users/me" method="POST">
                    <select class="input" name="favoriteGenre" onchange="this.form.submit()">
                        <option value="" selected disabled>Genres</option>
                        <option value="Comedy">Comedy</option>
                        <option value="Sci Fi">Sci Fi</option>
                        <option value="Horror">Horror</option>
                        <option value="Action">Action</option>
                        <option value="Mystery">Mystery</option>
                        <option value="Crime">Crime</option>
                        <option value="Animation">Animation</option>
                        <option value="Adventure">Adventure</option>
                        <option value="Fantasy">Fantasy</option>
                        <option value="Western">Western</option>
                    </select>
                </form>
                
                <form action="/users/logout" method="POST">
                    <button id="logout" class="btn u-color-primary" type="submit">Logout</button>
                </form>

            </div>

        </div>

        <div class="now-showing__movies">

            {{#if movies}}
                {{#each movies}}
                    <div>

                        <div class="movie-card">
                            <h3 class="heading-card u-text-center u-padding-bottom">{{this.Title}}</h3>
                            <a href="/movies/{{this._id}}">
                                <li class="movie-card__poster" style="background-image: url({{this.Poster}});">
                                    <h3 class="movie-card__link">Details</h3>
                                </li>
                            </a>
                        </div>

                    </div>
                    
                {{/each}}
                {{else}}
                <div class="message">
                    <h2 class="heading-secondary">Ready to add movies to your watchlist? Use the search bar above to begin.</h2>
                </div>
            {{/if}}


        </div>

    </div>

    <script src="/js/user-menu.js"></script>
</section>